.c-add-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  bottom: 0;
  right: 0;
  margin: 2rem;
  // background-color: #fefefe;
  background-color: rgba($color: dodgerblue, $alpha: 0.25);
  backdrop-filter: blur(4px);
  box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
  overflow: hidden;
  border: 1px solid lightgray;
  border-radius: 1000px;

  &__main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: dodgerblue;
    color: white;
    padding: 1em;
    cursor: pointer;
    z-index: 1;
    transition: transform 500ms ease;

    &-icon {
      width: 36px;
      height: 36px;
    }

    &--rotate {
      transform: rotate(135deg);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: center;
    max-height: 0;
    z-index: 0;
    transition: max-height 500ms linear;

    &--open {
      max-height: 200px;
    }
    // overflow: hidden;
    // transform: translateY(100%);
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0.75rem;
    flex-shrink: 0;
    border-radius: 50%;

    &:first-child {
      margin-bottom: 0;
    }

    &:hover {
      // background-color: lightgray;
      background-color: rgba($color: dodgerblue, $alpha: 0.25);
    }
  }

  &__button {
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    cursor: pointer;

    &-icon {
      width: 24px;
      height: 24px;
    }
  }
}
