@use "../styles/mixins";

.c-chat-menu {
  display: flex;
  flex-direction: column;
  background-color: #fefefe;
  min-height: 100%;
  max-height: 100%;
  overflow-y: auto;
  position: relative;

  //   &::before {
  //     @include mixins.tablet() {
  //       content: "";
  //       position: sticky;
  //       top: 0;
  //       //   left: 50%;
  //       width: calc(100% - (0.75rem * 2));
  //       //   width: 100%;
  //       height: 1px;
  //       background-color: transparent;
  //       border-top: 1px solid lightgray;
  //       //   transform: translateX(-50%);
  //       align-self: center;
  //     }
  //   }

  &__user {
    margin: 0 0.75rem 1rem 0.75rem;
    padding: 0.75rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // background-color: rgba($color: dodgerblue, $alpha: 0.25);
    // margin-top: 0.75rem;
    // border-radius: 1rem;
    // border: 1px solid rgba($color: dodgerblue, $alpha: 0.1);
    // box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.1);
    border-bottom: 1px solid lightgrey;
    position: relative;
  }

  &__back-button {
    background-color: transparent;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0.75rem;

    &-icon {
      width: 24px;
      height: 24px;
    }

    @include mixins.tablet() {
      display: none;
    }
  }

  &__image-wrap {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-bottom: 00.75rem;
  }

  &__name,
  &__username {
    text-align: center;
  }

  &__username {
    // color: gray;
    font-weight: 300;
    font-size: 0.875rem;
  }

  &__option {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;

    &-name {
      font-weight: 600;
    }

    &:last-child {
      padding-top: 0;
    }
  }

  &__color-list,
  &__emoji-picker {
    display: flex;
    align-items: center;
    padding: 0.75rem 0;
  }
}
