@use "../styles/mixins";

.c-chatbox {
  display: grid;
  position: relative;
  min-height: 100%;
  max-height: 100%;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;

  &__loading {
    grid-row: 1 / -1;
    background-color: #fefefe;

    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &-text {
      color: gray;
      text-align: center;
    }
  }

  &__button {
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    // padding: 1em;

    &--align-right {
      margin-left: auto;
    }
  }

  &__button-icon {
    width: 32px;
    height: 32px;

    &--medium {
      width: 24px;
      height: 24px;
    }

    &--blue {
      color: dodgerblue;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #fefefe;
    z-index: 0;
    position: relative;
    // width: 100%;
    // height: 100%;
    min-height: 100%;
    // max-height: 0;
  }

  &__emoji-picker-wrap {
    position: relative;
  }

  &__emoji-picker {
    position: absolute;
    bottom: 200%;
    right: -50%;
  }

  &__form {
    border-top: 1px solid lightgray;
    background-color: #fefefe;
    padding: 0.75em;
    display: flex;
    align-items: center;
  }

  &__input-wrap {
    width: 100%;
    padding: 0.75em 1em;
    border-radius: 1rem;
    background-color: #ededed;
    display: flex;
    align-items: flex-end;
    margin-right: 0.75rem;
    position: relative;
  }

  &__input {
    width: 100%;
    max-width: 100%;
    overflow-y: auto;
    max-height: 5rem;
    line-height: 1.5em;
    word-wrap: break-word;
    word-break: break-all;
    flex-shrink: 1;
    font-size: 0.875rem;
    margin-right: 0.75em;
    margin-top: auto;
    margin-bottom: auto;

    &:focus {
      outline: none;
      border: none;
    }
  }
}
