@use "../styles/mixins";

.c-chatbox-header {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  background-color: rgba($color: #fefefe, $alpha: 1);
  backdrop-filter: blur(4px);
  box-shadow: 0px 1px 4px rgba($color: #000000, $alpha: 0.25);
  z-index: 1;

  &__button {
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    // padding: 1em;

    &--align-right {
      margin-left: auto;
    }

    &--back {
      @include mixins.tablet() {
        display: none;
      }
    }
  }

  // &__button-icon {
  //   width: 32px;
  //   height: 32px;
  // }

  &__image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin: 0 0.75rem;

    &--online {
      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #13ee00;
        width: 12px;
        height: 12px;
        border: 2px solid #fefefe;
        border-radius: 50%;
        z-index: 1;
      }
    }

    @include mixins.tablet() {
      margin-left: 0;
    }
  }

  &__image {
    border-radius: 50%;
    object-fit: cover;
  }

  &__name {
    font-weight: 500;
  }
}
