@use "../styles/mixins";

.c-chatbox {
  display: grid;
  position: relative;
  min-height: 100%;
  max-height: 100%;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;

  &__loading {
    grid-row: 1 / -1;
    background-color: #f8f8f8;
    
    padding: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;

    &-text {
      color: gray;
      text-align: center;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    padding: 0.75rem;
    background-color: rgba($color: #fefefe, $alpha: 1);
    backdrop-filter: blur(4px);
    box-shadow: 0px 1px 4px rgba($color: #000000, $alpha: 0.25);
    z-index: 1;
  }

  &__button {
    border: none;
    outline: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    // padding: 1em;

    &--align-right {
      margin-left: auto;
    }

    &--back {
      @include mixins.tablet() {
        display: none;
      }
    }

    &-icon {
      width: 24px;
      height: 24px;

      &--medium {
        width: 36px;
        height: 36px;
      }
    }
  }

  &__image-wrap {
    overflow: hidden;
    display: flex;
    align-items: center;
    border-radius: 50%;
    margin: 0 0.75rem;

    @include mixins.tablet() {
      margin-left: 0;
    }
  }

  &__name {
    font-weight: 500;
  }

  &__list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    background-color: #f8f8f8;
    z-index: 0;
    // width: 100%;
    // height: 100%;
    min-height: 100%;
    // max-height: 0;
  }

  &__form {
    border-top: 1px solid lightgray;
    background-color: #fefefe;
    padding: 0.75em;
    display: flex;
    align-items: center;
  }

  &__input-wrap {
    width: 100%;
    padding: 0.75em 1em;
    border-radius: 1rem;
    background-color: #ededed;
    display: flex;
    margin-right: 0.75rem;
  }

  &__input {
    width: 100%;
    max-width: 100%;
    overflow-y: auto;
    max-height: 5rem;
    line-height: 1.5em;
    word-wrap: break-word;
    word-break: break-all;
    flex-shrink: 1;
    font-size: 0.875rem;

    &:focus {
      outline: none;
      border: none;
    }
  }
}
