.c-chat {
  max-width: 70%;
  margin: 0.5rem 0.75rem;
  align-self: flex-start;
  display: flex;
  align-items: flex-end;
  position: relative;

  &:hover > .c-chat__timestamp-wrap {
    visibility: visible;
  }

  &--user {
    align-self: flex-end;
    flex-direction: row-reverse;
  }

  &--consecutive {
    margin-bottom: 0;
  }

  &:nth-last-child(2) {
    margin-bottom: 1rem;
  }

  &__timestamp-wrap {
    margin: auto 0.75rem;
    color: gray;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    // pointer-events: none;
    // left: 100%;
    // top: 50%;
    // transform: translateY(-50%);
    // min-width: 100%;

    &--right {
      align-items: flex-end;
    }
  }

  &__image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 0.75rem;
    width: 36px;
    height: 36px;
    position: relative;
    flex-shrink: 0;
  }

  &__image {
    object-fit: cover;
  }

  &__spacer {
    width: 36px;
    height: 36px;
  }

  &__body-wrap {
    border-radius: 1rem 1rem 1rem 0;
    background-color: #dddd;
    padding: 0.75rem;
    font-size: 0.875rem;
    word-break: break-all;
    white-space: pre-wrap;
    animation: fade-in 500ms ease;

    &--user {
      border-radius: 1rem 1rem 0 1rem;
      background-color: dodgerblue;
      color: white;
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
