.c-popup {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.7rem;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: rgba($color: #000000, $alpha: 0.2);
    box-shadow: 0 4px 4px rgba($color: #000000, $alpha: 0.25);
    // backdrop-filter: blur(4px);
    overflow-y: auto;
    z-index: 9999;


    &--fade-in {
        animation: fade-in 250ms ease;
    }

    &--fade-out {
        animation: fade-out 250ms ease;
    }

    &-anim {
        &-enter {
            opacity: 0;
        }
    
        &-enter-active {
            opacity: 1;
            transition: opacity 250ms;
        }
    
        &-exit {
            opacity: 1;
        }
    
        &-exit-active {
            opacity: 0;
            transition: opacity 200ms;
        }
    }

    &-wrap-anim {
        &-enter {
            transform: scale(0.5);
        }
    
        &-enter-active {
            transform: scale(1);
            transition: transform 250ms;
        }
    
        &-exit {
            transform: scale(1);
        }
    
        &-exit-active {
            transform: scale(0.5);
            transition: transform 250ms;
        }
    }

    @keyframes fade-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes fade-out {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    &__wrap {
        display: grid;
        grid-template-rows: auto auto 1fr;
        background-color: #fefefe;
        padding: 1rem;
        border-radius: 1rem;
        // min-height: 500px;
        width: 100%;
        max-width: 600px;

        &--group {
            grid-template-rows: auto auto auto auto 1fr auto;
        }

        &--scale-in {
            animation: scale-in 250ms ease;
        }

        &--scale-out {
            animation: scale-out 250ms ease;
        }
    }

    @keyframes scale-in {
        0% {
            transform: translateY(-50px);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes scale-out {
        0% {
            transform: scale(1);
        }

        100% {
            transform: scale(0.5);
        }
    }

    &__header-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    &__close-button {
        border: none;
        outline: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border-radius: 50%;

        &:active {
            background-color: #f4f4f4;
        }
    }

    &__description {
        margin-bottom: 1rem;
        font-size: 0.875rem;
    }

    &__img-selector-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }

    &__img-selector-button {
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 3px solid dodgerblue;
        background-color: #fefefe;
        cursor: pointer;
        flex-shrink: 0;
        color: dodgerblue;
        position: relative;
        overflow: hidden;
        outline: none;

        &-icon {
            width: 36px;
            height: 36px;
        }
    }

    &__selected-image {
        object-fit: cover;
    }

    &__user-add-wrap {
        border-radius: 1rem;
        background-color: #ededed;
        font-size: 0.875rem;
        padding: 0.75em 1em;
        display: block;
        // align-items: center;
        margin-bottom: 1rem;
    }

    &__added-user-pill {
        padding: 0.15em 0.75em;
        background-color: dodgerblue;
        color: white;
        font-weight: 500;
        border-radius: 999px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        margin-right: 0.5rem;
        margin-bottom: 0.5rem;

    }

    &__user-remove-button {
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        outline: none;
        background-color: inherit;
        border-radius:  50%;
        color: white;
        margin-left: 0.5rem;
        &:hover {
            background-color: rgba($color: #000000, $alpha: 0.1);
        }
    }

    &__users {
        display: flex;
        flex-direction: column;
        max-height: 350px;
        min-height: 350px;
    }

    &__create-button {
        margin-top: auto;
        justify-self: right;
        border-radius: 1rem;
        background-color: dodgerblue;
        font-weight: 600;
        text-transform: uppercase;
        color: white;
        border: none;
        font-size: 0.75rem;
        padding: 0.75em 2em;
        cursor: pointer;
    }

    &__input {
        background-color: #ededed;
        border: none;
        outline: none;
        width: 100%;
        font-size: 0.875rem;
        padding: 0.75em 1em;
        border-radius: 1rem;
        margin-bottom: 1rem;

        &--inline {
            width: auto;
            min-width: 200px;
            margin: 0;
            border-radius: 0;
            padding: 0;
        }
    }
}